# maven ignore
target/
*.versionsBackup
.factorypath

# eclipse ignore
.settings/
.project
.classpath
*rebel.xml

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# system ignore
.DS_Store
Thumbs.db

.vscode


